.approved-requests {
    padding: 2rem;
    margin-top: 60px; /* Add a top margin to move the content below the nav bar */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem; /* Add a margin below the h1 */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th,
  td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  